* {
  margin: 0;
}

.bg {
  background-image: url('../images/bg.jpg');
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.main {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 6%;
  color: white;
  padding: 1.6rem 4%;
  border-radius: 20px;
  text-align: left;
}

.main h2 {
  font-size: 3rem;
}

.main p {
  font-size: 1.6rem;
}

.btnShop {
  background-color: orange;
  color: black;
  width: max-content;
  padding: 1rem 2rem;
  margin-top: 1rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btnShop:hover {
  transform: scale(1.2);
}
